<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="note"
                   name="note"
                   ng-keypress="$ctrl.handleKeypress($event)"
                   ng-model="$ctrl.note"
                   placeholder="New Note..." />
            <span class="input-group-btn">
                <button type="button"
                        class="btn btn-primary"
                        ng-click="$ctrl.save()">
                    Save
                </button>
            </span>
        </div>
    </div>
</div>